body{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: black;
    color:white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 10px;
}